/module-war/target/
/module-ear/target/
/module-ejb/target/
/module-jar/target/
.eclipse
.idea
*.iws
*.iml
*.ipr
*.jar
*.war
*.ear
!libs/**/*.jar
.classpath
.project
.settings/
target/
*/target/**
*/target/*
/target/**
